   <header>
        <ul id="Mentors" class="dropdown-content">
            <li><a href="">Mentors</a></li>
            <li><a href="http://www.uvesty.com/stocks.html">Stocks</a></li>
            <li><a href="http://www.uvesty.com/forex.html">Forex</a></li>
            <li><a href="http://www.uvesty.com/realestate.html">Real Estate</a></li>
            <li><a href="http://www.uvesty.com/angelsvc.html">VC or Angels</a></li>


        </ul>

        <ul id="Courses" class="dropdown-content">
          <li><a href="">Courses</a></li>
            <li><a href="http://www.uvesty.com/stockcourse.html">Stocks</a></li>
            <li><a href="http://www.uvesty.com/forexcourse.html">Forex</a></li>
            <li><a href="http://www.uvesty.com/realestatecourse.html">Real Estate</a></li>
            <li><a href="http://www.uvesty.com/vcangelcourse.html">VC or Angels</a></li>

        </ul>


        <nav>
          <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down">
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="Mentors">Mentors<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="dropdown-button" href="#!" data-activates="Courses">Courses<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="http://www.uvesty.com/hire.html">Hire</a></li>
              <li><a href="http://www.uvesty.com/mentorsignup.html">Become a Mentor</a></li>
            </ul>
            <ul class="nav pull-right">
                <li>
                  <a class="waves-effect waves-light btn" href="http://www.uvesty.com/login.html">Login | Register</a>

                </li>
            </ul>
          </div>
        </nav>
    </header>

    </div>
<%= link_to "About",about_path %>
<%= image_tag"2.jpg"%>